.playStation {
    vertical-align: middle;
}

.flex-container {
    display: flex;
}

#imgShowcase {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    width: 1000px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}

#headerofPage {
    font-family: monospace;
    text-align: center;
}

.majorDiv {
    font-family: monospace;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Cat site Styles */
.backgroundImg {
    position: relative;
    width: 350px;
    height: 350px;
}

.trueCenterTxt {
    position:relative;
    top: 50%;
    left: 50%;
    translate: -50%, 50%;
    color: blue;
    background-color: aliceblue;
}

#toRealCats {
    width: 350px;
    height: 350px;
}