.icon {
    width: 30px;
    height: 30px;
}

.divButton {
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-family: monospace;
}

.divButton.Sakuras {
    background-color: hotpink;
}